.passages-container table {
  border-collapse: collapse; }

.passages-container thead tr {
  color: white;
  background-color: black;
  border: none; }

.passages-container tbody tr:nth-child(odd) {
  background-color: transparent; }

.passages-container tbody tr:nth-child(even) {
  background-color: grey; }
